@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
    max-width: none !important;
}

.skeleton {
    animation: loading 1.5s infinite;
}
@keyframes loading {
    0%,
    100% {
        background-color: hsl(var(--b2) / 0.6);
    }
    50% {
        background-color: hsl(var(--b3) / 0.6);
    }
}
