body {
    background-color: #0d0f12;
    color: #dfe2ec;
    font-family: "Fira Code", monospace;
}

a {
    color: #00bfff;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #dfe2ec;
}

code,
pre {
    background-color: #1a1c20;
    color: #00bfff;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
}
